<div class="comment">
  <div class="comment_content">
    <p class="comment_info"><%= comment.name %> | <%= time_ago_in_words(comment.created_at) %> Ago</p>
    <p class="comment_body"><%= comment.body %></p>
  </div>

  <% if current_user %>
    <p><%= link_to 'Delete', [comment.post, comment], method: :delete, class: "button", data: {confirm: "Are You Sure?"} %></p>
  <% end %>
</div>